nodeRed.txt
[{"id":"6821d2bc.bb9d84","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d54427cf.7e3358","type":"ui_button","z":"6821d2bc.bb9d84","name":"","group":"cf450390.c113f","order":0,"width":"2","height":"2","passthru":false,"label":"abrir","color":"","bgcolor":"","icon":"","payload":"20","payloadType":"str","topic":"","x":130,"y":180,"wires":[["2e786566.fcdcf2"]],"outputLabels":["abrir"]},{"id":"df4073df.63aaa","type":"arduino out","z":"6821d2bc.bb9d84","name":"","pin":"","state":"STRING","arduino":"8f43e498.5c5f","x":350,"y":320,"wires":[]},{"id":"2e786566.fcdcf2","type":"mqtt out","z":"6821d2bc.bb9d84","name":"","topic":"abrir","qos":"","retain":"","broker":"bd648f44.d59ba","x":330,"y":180,"wires":[],"inputLabels":["abrir"]},{"id":"473de6a5.1790e8","type":"mqtt in","z":"6821d2bc.bb9d84","name":"","topic":"abrir","qos":"2","broker":"bd648f44.d59ba","x":130,"y":320,"wires":[["df4073df.63aaa","6ae03e0b.e2df88"]]},{"id":"6ae03e0b.e2df88","type":"debug","z":"6821d2bc.bb9d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":420,"wires":[]},{"id":"a2b77790.e203d8","type":"ui_button","z":"6821d2bc.bb9d84","name":"","group":"cf450390.c113f","order":0,"width":"2","height":"2","passthru":false,"label":"Trocar Senha","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"","x":160,"y":540,"wires":[["aede4d0a.17815"]],"outputLabels":["novaSenha"]},{"id":"59981ad4.9c9bc4","type":"arduino out","z":"6821d2bc.bb9d84","name":"","pin":"","state":"STRING","arduino":"8f43e498.5c5f","x":370,"y":640,"wires":[]},{"id":"aede4d0a.17815","type":"mqtt out","z":"6821d2bc.bb9d84","name":"","topic":"novaSenha","qos":"","retain":"","broker":"bd648f44.d59ba","x":350,"y":540,"wires":[]},{"id":"cc0b034f.b43938","type":"mqtt in","z":"6821d2bc.bb9d84","name":"","topic":"novaSenha","qos":"2","broker":"bd648f44.d59ba","x":170,"y":640,"wires":[["59981ad4.9c9bc4","26797a.d8c0fe86"]]},{"id":"26797a.d8c0fe86","type":"debug","z":"6821d2bc.bb9d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":700,"wires":[]},{"id":"d4b3be50.487bc8","type":"arduino in","z":"6821d2bc.bb9d84","name":"","pin":"8","state":"INPUT","arduino":"8f43e498.5c5f","x":190,"y":800,"wires":[["25ea53c5.700c7c"]]},{"id":"8ee429c3.8caa08","type":"arduino out","z":"6821d2bc.bb9d84","name":"","pin":"10","state":"STRING","arduino":"8f43e498.5c5f","x":650,"y":860,"wires":[]},{"id":"25ea53c5.700c7c","type":"mqtt out","z":"6821d2bc.bb9d84","name":"","topic":"sensor","qos":"0","retain":"true","broker":"177c646b.394504","x":530,"y":800,"wires":[]},{"id":"8b6cde41.6aa6e","type":"mqtt in","z":"6821d2bc.bb9d84","name":"","topic":"sensor","qos":"2","broker":"177c646b.394504","x":170,"y":880,"wires":[["fcd4658d.4d1018"]]},{"id":"909c4da0.c2b528","type":"debug","z":"6821d2bc.bb9d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":980,"wires":[]},{"id":"b2f111c5.4320d","type":"trigger","z":"6821d2bc.bb9d84","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"900","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":500,"y":980,"wires":[["8ee429c3.8caa08","909c4da0.c2b528"]]},{"id":"fcd4658d.4d1018","type":"delay","z":"6821d2bc.bb9d84","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":980,"wires":[["b2f111c5.4320d"]]},{"id":"b818d9d8.966ff8","type":"ui_button","z":"6821d2bc.bb9d84","name":"","group":"cf450390.c113f","order":0,"width":"4","height":"2","passthru":false,"label":"abrirSemSenha","color":"","bgcolor":"","icon":"","payload":"30","payloadType":"str","topic":"","x":560,"y":180,"wires":[["e2f6ac69.9fe28"]],"outputLabels":["abrir"]},{"id":"b71d5b39.bdbb08","type":"arduino out","z":"6821d2bc.bb9d84","name":"","pin":"","state":"STRING","arduino":"8f43e498.5c5f","x":750,"y":320,"wires":[]},{"id":"e2f6ac69.9fe28","type":"mqtt out","z":"6821d2bc.bb9d84","name":"","topic":"abrirSemSenha","qos":"","retain":"","broker":"bd648f44.d59ba","x":760,"y":180,"wires":[],"inputLabels":["abrir"]},{"id":"67faa008.f78cb8","type":"mqtt in","z":"6821d2bc.bb9d84","name":"","topic":"abrirSemSenha","qos":"2","broker":"bd648f44.d59ba","x":560,"y":320,"wires":[["b71d5b39.bdbb08","537dad70.915524"]]},{"id":"537dad70.915524","type":"debug","z":"6821d2bc.bb9d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":380,"wires":[]},{"id":"cf450390.c113f","type":"ui_group","z":"","name":"teste","tab":"f0aaae17.b49c58","disp":true,"width":"7","collapse":true},{"id":"8f43e498.5c5f","type":"arduino-board","z":"","device":"COM3"},{"id":"bd648f44.d59ba","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"177c646b.394504","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f0aaae17.b49c58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]